@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

// Padding for top navbar
body {
    padding-top: 3.5rem;

    .container-fluid {
        padding: 0;
        height: 100%;
    }
}

#map {
    width: 100%;
    height: 100%;
}